/*VARIABLES*/
/*--Import google font Nunito Sans--*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap");
/*--Colors--*/
/*--Box Shadow--*/
/*--Fonts--*/
/* GENERAL CLASES*/
/*--General--*/
body {
  font-family: "Nunito Sans", sans-serif;
}

.display-hide {
  display: none;
}

.aqua {
  color: #5CCAA7 !important;
}

.grey {
  color: #6F7F95 !important;
}

.white {
  color: #FFFFFF !important;
}

.yellow {
  color: #FEBD3D !important;
}

/*--Buttons--*/
.custom-button {
  background: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

.button-white {
  background-color: #FFFFFF;
  color: #161348;
}

.button-blue {
  background-color: #038AFF;
  color: #FFFFFF;
}

.button-simple {
  border-bottom: 2px solid #038AFF;
  border-radius: 0px !important;
  color: #161348;
  margin-right: 20px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.button-small {
  padding: 5px 15px;
}

.button-big {
  border-radius: 6px;
  padding: 15px 25px;
}

.button-white:hover, .button-blue:hover {
  background-color: #161348;
  color: #FFFFFF;
}

.button-simple:hover {
  border-bottom: 2px solid #038AFF;
  color: #038AFF;
}

.button-outline {
  border: 2px solid #E3E7EB;
  color: #161348;
  font-size: 14px;
  padding: 5px 15px;
}

.button-outline:hover {
  border: 2px solid #038AFF;
  color: #038AFF;
  font-size: 14px;
  padding: 5px 15px;
}

nav .button-simple:hover {
  border-bottom: 2px solid #038AFF;
  color: #161348;
}

/*--Texts--*/
h1 {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

h2 {
  color: #161348;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

h3 {
  color: #FFFFFF;
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
}

h4 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
}

h5 {
  color: #161348;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0px;
}

h6 {
  color: #161348;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  margin: 0px;
}

p {
  color: #6F7F95;
  font-size: 16px;
  line-height: 28px;
}

.p2 {
  color: #161348;
  font-size: 11px;
  line-height: 22px;
  margin: 0px !important;
}

/*--Margins--*/
.mg-0 {
  margin: 0px;
}

.mg-1 {
  margin-top: 10px;
}

.mg-1-5 {
  margin-top: 15px;
}

.mg-2 {
  margin-top: 20px !important;
}

.mg-3 {
  margin-top: 30px !important;
}

.mg-4 {
  margin-top: 40px;
}

.mg-5 {
  margin-top: 50px;
}

.mg-6 {
  margin-top: 60px;
}

.mg-7 {
  margin-top: 70px;
}

.mg-8 {
  margin-top: 80px;
}

.mg-9 {
  margin-top: 90px;
}

.mg-10 {
  margin-top: 100px;
}

.mg-15 {
  margin-top: 150px;
}

.mg-20 {
  margin-top: 200px;
}

.mg-24 {
  margin-top: 240px;
}

/*--Paddings--*/
.pad-l-1 {
  padding-left: 10px;
}

.pad-r-1 {
  padding-right: 10px;
}

/*--Tags--*/
.tag {
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  width: -moz-fit-content;
  width: fit-content;
}

.tag-aqua {
  background-color: #5CCAA7;
}

.tag-blue {
  background-color: #038AFF;
}

.tag-yellow {
  background-color: #FEBD3D;
}

.tag-right {
  position: absolute;
  right: 55px;
}

/* SECTIONS CLASES*/
/*--NavBar--*/
nav {
  background-color: #038AFF !important;
}

nav a {
  color: #FFFFFF;
}

nav a:hover {
  color: #161348;
}

nav .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 15px !important;
}

nav ul {
  margin: auto;
}

nav ul li {
  font-size: 14px;
  padding: 0px 8px;
}

nav .white:hover {
  color: #161348 !important;
  border: none !important;
}

/*--Hero--*/
.tc {
  background-color: #161348;
  background-image: url("images/card-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top left;
  background-size: cover;
  border: none;
  border-radius: 10px;
  height: 240px;
  padding: 20px;
  width: 100%;
}

.tc-container {
  background-color: #ffffff;
  border-radius: 10px 10px 50px 10px;
  margin: 60px 0px 40px 0px;
  padding: 20px 20px 40px 20px;
}

.tc-info {
  float: left;
  width: 50%;
}

.tc-number {
  letter-spacing: 3.6px;
}

.diagonal-hero {
  background: linear-gradient(to right bottom, #038AFF 49%, transparent 50%);
  position: absolute;
  height: 80px;
  width: 100%;
}

.hero {
  background-color: #038AFF;
}

.hero img {
  height: 25px;
  margin-left: 20px;
}

.payment {
  border-bottom: 1px solid #E3E7EB;
  padding: 10px 0px;
}

.right-arrow {
  font-size: 10px;
  padding: 0px 0px 0px 5px;
}

/*--Description content--*/
/*---Tools---*/
.btn-right {
  position: absolute;
  right: 20px;
}

.over {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.progress {
  background-color: #E3E7EB;
  height: 2px;
  margin-top: 5px;
  width: 100%;
}

.progress-bar {
  background-color: #FEBD3D;
  height: 2px;
}

.projects {
  border: 1px solid #E3E7EB;
  border-radius: 10px;
  padding: 20px 20px 40px 20px;
  width: 80%;
}

.img {
  background-repeat: no-repeat, no-repeat;
  background-position: top center;
  background-size: cover;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.project-img {
  background-color: #FEBD3D;
  background-image: url("images/img_01.jpg");
  height: 210px;
  width: 58%;
}

.tools {
  margin: 70px 0px 0px 0px;
}

.tools-container {
  margin: 150px 0px 0px 0px;
}

.under {
  left: 0;
  position: absolute;
  top: 0;
}

.width-45 {
  width: 45%;
}

.width-65 {
  width: 65%;
}

.width-85 {
  width: 85%;
}

.flex {
  display: flex !important;
}

.flex > * {
  order: 0;
}

.one {
  order: 1;
}

.two {
  order: 2;
}

.three {
  order: 3;
}

/*---Features---*/
.features {
  margin: 60px 0px 0px 0px;
}

.features-container {
  margin: 200px 0px 0px 0px;
}

.features-img {
  background-color: #5CCAA7;
  background-image: url("images/img_02.jpg");
  height: 400px;
  width: 100%;
}

/*---Technology---*/
.technology {
  margin: 90px 0px 0px 0px;
}

.technology-container {
  margin: 150px 0px 0px 0px;
}

.id-circle {
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  height: 35px !important;
  margin: 0px 10px 0px 0px;
  padding: 9px 0px 0px 0px;
  text-align: center;
  width: 35px !important;
}

.id-circle-aqua {
  background-color: #5CCAA7;
}

.id-circle-company {
  border-radius: 30px;
  width: 60px;
}

.id-circle-photo {
  border: 3px solid #FFFFFF;
  border-radius: 20px;
  height: 35px !important;
  margin: 0px -8px 15px -8px;
  width: 35px !important;
}

.id-circle-yellow {
  background-color: #FEBD3D;
}

.line-height-0 {
  line-height: 0px !important;
}

.line-height-8 {
  line-height: 8px !important;
}

.mini-card-container {
  border: 1px solid #E3E7EB;
  border-radius: 10px;
  margin-top: 0px;
  transition: 0.3s;
}

.mini-card-photo {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.mini-card-text {
  padding: 15px 15px 20px 15px;
}

.mini-card-text h6 i {
  color: #6F7F95;
  padding: 10px 0px 0px 0px;
}

.photo-container {
  border-bottom: 1px solid #E3E7EB;
}

.web-card-icon {
  margin: 0px 10px;
}

.web-card-icon:hover {
  color: #038AFF;
}

.four {
  order: 1;
}

.five {
  order: 2;
}

.six {
  order: 3;
}

.seven {
  order: 4;
}

/*---Easy to install---*/
.install {
  margin: 50px 0px 0px 0px;
}

.install-container {
  margin: 150px 0px 0px 0px;
}

.install-img {
  background-color: #5CCAA7;
  background-image: url("images/img_03.jpg");
  height: 400px;
  width: 100%;
}

.store-btn {
  margin: 15px 10px 30px 0px;
  width: 45%;
}

/*---Infinite Solutions---*/
.infinite-container {
  background-color: #161348;
  border-radius: 0px 50px;
  color: #FFFFFF !important;
  padding: 50px;
  margin: 90px 0px 0px 0px;
}

.learn-more-btn {
  float: right;
  margin-top: 30px;
}

.learn-more-btn:hover {
  background-color: #038AFF !important;
}

/*--Awards--*/
.awards-container {
  background-color: #FAFBFF;
  margin: 90px 0px 0px 0px;
  padding: 90px 0px 40px 0px;
}

.carousel-container {
  margin: 40px 0px 0px 0px;
}

.diagonal-awards {
  background: linear-gradient(to right bottom, #FAFBFF 49%, transparent 50%);
  position: absolute;
  height: 80px;
  width: 100%;
}

.my-slider a {
  text-decoration: none !important;
}

.my-slider .mini-card-container:hover {
  border: 2px solid #038AFF !important;
  margin-top: -30px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tns-nav {
  margin: 15px auto !important;
  text-align: center !important;
}

.tns-nav button {
  background-color: #E3E7EB;
  border: none !important;
  border-radius: 10px !important;
  height: 12px !important;
  margin: 0px 10px !important;
  width: 12px !important;
}

.tns-nav-active {
  background-color: #038AFF !important;
}

#tns1-iw {
  margin: 40px -20px 0px 0px !important;
}

/*Helpful answers*/
.card {
  margin: 0px 0px 10px 0px;
  border: none;
}

.card-body {
  border: 1px solid #E3E7EB;
  border-radius: 0px 0px 10px 10px;
  border-top: 0px;
}

.card-header {
  background-color: #FFFFFF;
  border: 1px solid #E3E7EB;
  border-radius: 10px !important;
  margin-bottom: 0px !important;
}

.card-header button:focus {
  box-shadow: none !important;
  text-decoration: none !important;
}

.helpful-answers-container {
  margin: 100px 0px;
}

.padding-left-none {
  padding-left: 0px !important;
}

.padding-right-none {
  padding-right: 0px !important;
}

.plus-icon {
  text-align: right;
  margin: 0px;
}

.questions-container {
  margin: 40px 0px 0px 0px;
}

/*New project*/
.btn-margin {
  margin: 0px 10px;
}

.new-project-container {
  margin-bottom: 100px;
}

/*Footer*/
.diagonal-footer {
  background: linear-gradient(to right bottom, #FFFFFF 49%, transparent 50%);
  position: absolute;
  height: 80px;
  width: 100%;
}

.footer {
  padding-top: 100px;
}

.footer-2 {
  padding: 15px 0px;
}

.footer-2-menu {
  text-align: right;
}

.footer-2-menu p {
  display: inline-block;
  margin: 0px 0px 0px 15px !important;
}

.footer-buttons {
  text-align: right;
}

.footer-container {
  background-color: #161348;
}

.footer-menu {
  color: #FFFFFF;
  text-decoration: none !important;
}

.footer-menu .p2:hover, .footer-2-menu .p2:hover {
  color: #038AFF !important;
  text-decoration: none !important;
}

.footer-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 0px;
  -o-border-image: linear-gradient(90deg, #161348, rgba(255, 255, 255, 0.3), #161348) 1;
     border-image: linear-gradient(90deg, #161348, rgba(255, 255, 255, 0.3), #161348) 1;
  padding: 30px 0px;
}

.social-icons {
  margin: 0px 15px 0px 0px;
}

.social-icons p {
  margin-bottom: 0px !important;
}

.social-icons p:hover {
  color: #038AFF !important;
}

/*RESPONSIVE*/
@media (max-width: 1200px) {
  /*Hero*/
  .tc {
    height: 220px !important;
  }
  .tc-number {
    letter-spacing: 0.6px !important;
  }
}
@media (max-width: 991px) {
  /*Navbar*/
  nav .button-simple, nav .button-white {
    width: 100%;
    margin-bottom: 10px;
  }
  nav .container {
    padding: 10px 15px !important;
  }
  nav ul {
    margin-bottom: 25px !important;
  }
  nav ul li {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 0px !important;
  }
  .navbar-toggler {
    color: #FFFFFF;
    padding-top: 18px;
  }
  /*Hero*/
  .tc {
    height: 200px !important;
  }
  .tc h4 {
    font-size: 20px !important;
  }
  .tc .mg-7 {
    margin-top: 60px !important;
  }
  .tc-number {
    letter-spacing: 0px !important;
  }
  .hero img {
    height: 15px;
    margin-left: 15px;
  }
  /*Tools*/
  .tools {
    margin-top: 40px !important;
  }
  /*Features*/
  .features {
    margin: 20px 0px 0px 0px !important;
  }
  /*Technology*/
  .id-circle {
    display: none !important;
  }
  .line-height-0 {
    line-height: 20px !important;
  }
  .line-height-8 {
    line-height: 12px !important;
  }
  .web-card-icon {
    margin: 0px 5px;
  }
  /*Infinite*/
  .infinite-container .display-none {
    display: none !important;
  }
  .learn-more-btn {
    margin-top: 40px !important;
  }
  /*Helpful answers*/
  .padding-left-none {
    padding: 0px !important;
  }
  .padding-right-none {
    padding: 0px !important;
  }
  /*Footer*/
  .footer-row .display-none {
    display: none !important;
  }
}
@media (max-width: 768px) {
  /*Hero*/
  .tc {
    height: 260px !important;
  }
  .tc h4 {
    font-size: 28px !important;
  }
  .tc .mg-7 {
    margin-top: 80px !important;
  }
  .tc-info {
    margin-top: 10px;
  }
  .tc-number {
    letter-spacing: 3px !important;
  }
  .hero .display-none {
    display: none !important;
  }
  .hero img {
    height: 25px;
    margin-left: 20px;
  }
  .hero .mg-15 {
    margin-top: 100px !important;
  }
  /*Tools*/
  .one {
    margin: 0px 15px !important;
    order: 2;
  }
  .two {
    order: 3;
  }
  .three {
    order: 1;
  }
  /*Features*/
  .features {
    margin: 250px 0px 0px 0px !important;
  }
  /*Technology*/
  .id-circle {
    display: inline-block !important;
  }
  .line-height-0 {
    line-height: 0px !important;
  }
  .line-height-8 {
    line-height: 8px !important;
  }
  .technology-container {
    margin: 0px !important;
  }
  .web-card-icon {
    margin: 0px 10px;
  }
  .four {
    order: 2;
  }
  .five {
    order: 3;
  }
  .six {
    order: 4;
  }
  .seven {
    order: 1;
  }
  /*Install*/
  .install-container {
    margin: 40px 0px 0px 0px;
  }
  /*Infinite*/
  .learn-more-btn {
    float: left !important;
    margin-top: 10px !important;
  }
  /*Footer*/
  .btn-margin {
    margin: 0px 10px 0px 0px !important;
  }
  .footer-buttons {
    margin-top: 20px;
    text-align: left !important;
  }
  .menu {
    margin: 20px 0px 0px 0px !important;
  }
}
@media (max-width: 576px) {
  /*Hero*/
  .tc {
    height: 250px !important;
  }
  .tc .mg-7 {
    margin-top: 60px !important;
  }
  .tc-number {
    letter-spacing: 1px !important;
  }
  .hero img {
    height: 25px !important;
    margin: 10px 0px 0px 15px !important;
  }
  /*Technology*/
  .five {
    margin: 20px 0px 0px 0px !important;
  }
  /*Footer*/
  .btn-margin {
    margin: 0px 10px !important;
  }
  .footer-2 {
    text-align: center !important;
  }
  .footer-2-menu {
    text-align: center !important;
  }
  .footer-2-menu p {
    margin: 0px 10px !important;
  }
  .footer-buttons {
    margin-top: 20px;
    text-align: center !important;
  }
  .footer-row {
    text-align: center !important;
  }
  .menu {
    margin-top: 20px !important;
    text-align: center !important;
  }
  .social-icons {
    margin: 0px 10px !important;
  }
}
@media (max-width: 500px) {
  /*Hero*/
  .tc {
    height: 220px !important;
  }
  .tc h4 {
    font-size: 23px !important;
  }
  .tc .mg-7 {
    margin-top: 60px !important;
  }
  .tc-number {
    letter-spacing: 0px !important;
  }
  .display-hide {
    display: block !important;
  }
  .hero img {
    height: auto !important;
    margin: 10px 0px 0px 0px !important;
    width: 24%;
    text-align: left;
    padding: 0px 20px 0px 0px;
  }
}
@media (max-width: 400px) {
  .tc {
    height: 170px !important;
  }
  .tc h4 {
    font-size: 15px !important;
  }
  .tc h6 {
    font-size: 12px;
    line-height: 0px !important;
  }
  .tc .p2 {
    font-size: 10px !important;
  }
  .tc .mg-7 {
    margin-top: 45px !important;
  }
  .tc-number {
    letter-spacing: 0px !important;
  }
}/*# sourceMappingURL=styles.css.map */